@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

#contacto{
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
}
#proyectos{
    background-image: url(../images/fondo-proyectos.png);
    background-size: cover;
}
#inicio{
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
}
h1{
    color: red;
}
.btn{
    color: blueviolet;
    background-color: white;
    border: 0px;
}
.btn:hover{
    color: rgb(17, 16, 16);
    background-color: purple;
}
.btn-whatsapp{
    position: fixed;
    right: 50px;
    bottom: 0px;
}
.link-rojo{
    color: tomato;

}
.btn-rojo{
    color: white;
    background-color: black;
    border: 0px ;
    padding: 10px;
    text-decoration: none;
}
.btn-rojo:hover{
    color: white;
    background-color: tomato;
}
.btn-rojo {
    background-color: #E20000;
    color: white;
    font-weight: 100;
    border-radius: 15px;
}
.btn {
    color: #370a6d;
    background-color: white;
    border: none;
}
p{
    color: gray;
}
footer a{
    color: rgb(6, 6, 6);
}
footer{
    color: rgb(13, 12, 12);
    position: absolute;
    bottom: 0px;
}
main{
    min-height: 600px;
}
.proyectos{
    background-color: ;
}
.proyecto h2{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 16px;

}
.proyecto img{
    height: 212px;
}
.proyecto p{
    font-size: 14px;
    height: 90px;
}
.proyecto{
    background-color: white;
}
.proyecto h2{
    font-size: 16px;
    text-transform: uppercase;
    color:white;
    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
    padding: 16px;
}
.proyecto img{
    height: 212px;
}
.proyecto p{
    font-size: 14px;
    height: 130px;
}
#contacto footer{
    color:white;
}
#contacto footer a{
    color:white;
}
#contacto footer .fa-github {
    font-size: 30px;
    color: white;
}
#contacto footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#proyecto footer{
    color:white;
}
#proyecto footer a{
    color:white;
}
#proyecto footer .fa-github {
    font-size: 30px;
    color: white;
}
#proyecto footer .fa-linkedin-in {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}
#inicio img{
    height: 400px;
}
#inicio img:hover{
    height: 410px;
}
#inicio p{
    color: white;
}
.foto-de-perfil{
    border-radius: 600px;
    height: 300px;
}
.gris {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
}
.gris:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter:grayscale(0%);
}

#stark-tecnologico{
    background-color: #ff4a49 ;
}
#stark-tecnologico h2{
     font-size: 24px;
     color: rgb(255, 253, 253);
}
#stark-tecnologico h3{
    font-size: 20px;
    color: black;
    font-weight: 300px;
}
#stark-tecnologico .tecnologia{
    font-size: 14px;
    color: rgb(6, 6, 6);
    text-align: center;
    height: 182px;
    background-color: aliceblue;
    border-radius: 10px;
}
#stark-tecnologico .tecnologia img{
    height: 80px;
}
#experiencia h2{
    font-size: 24px;
    color: #370a6d;
    font-weight: 400px;
}
#experiencia h3{
    font-size: 24px;
    color: #747179;
    font-weight: 600px;
}
#experiencia h4{
    font-size: 17px;
    color: #370a6d;
}
.gris {
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);
}
.gris:hover{
    -webkit-filter: grayscale(100%);
    filter:grayscale(0%);
}
#estudio h2{
    font-size: 24px;
    color: #370a6d;
    font-weight: 400px;
}
#estudio h3{
    font-size: 24px;
    color: #747179;
    font-weight: 600px;
}
#estudio h4{
    font-size: 17px;
    color: #370a6d;
}
/* la qeris siempre al final */
@media (max-width: 750px) {
    #contacto {
        background-image: url("../images/fondo-proyectos.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    #proyectos {
        background-size: contain;
        background-repeat: no-repeat;
    }
    #inicio p {
        color: #E20000;
        font-size: 16px;
        border: 1px #E20000 solid;
    }

}

.whatsapp {
    background-color: #370a6d;
    color: white;
    width: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right: 80px;
    position: fixed;
    bottom: 0px;
}
